#cont{
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(134, 6, 255);
    text-align: left;
    border-radius: 30px auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: rgb(243, 242, 242);
    margin: 20px auto;
    border: none;
    align-content: center;
    width: 40%;
    padding: 1em;
}
#enviar{
    background-color: rgb(89, 210, 247);
    border: none;
    color: white;
    width: auto;
    display: block;
    margin: 0 auto;  
    height: 40px;
    width: 100% ; 
    margin-top: 1em;
}
input{
    width: 98%;
    height: 30px;
    
}
label{
    margin-top: 1em;
}
#contenedor{
    padding:  50px;
}
