#principal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
}
.multi{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    text-align: center;
}